.time-indicator-transport {
    position: relative;
}

.time-indicator-transport::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 6%;
    background: linear-gradient(to bottom, transparent, darkgray, transparent);
    background-size: 100% 10px;
}

.transport-selector {
    position: relative;
    z-index: 1;
    left: 9%;
    width: 100px;
}